<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Empleados</span>
      <!-- router lingk me permite ir al ruta del componente que le indique -->
      <button class="btn btn-dark float-end" routerLink="/create-empleado">Agregar</button>
      <table class="table table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th>
              <i class="fa-solid fa-pen-to-square fa-lg text-info me-3"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Steveen</td>
            <td>Rodriguez</td>
            <td>1090</td>
            <td>2000</td>
            <th>
              <i class="fa-solid fa-pen-to-square fa-lg text-info me-3"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </th>
          </tr>
          <tr>
            <td>Steveen</td>
            <td>Rodriguez</td>
            <td>1090</td>
            <td>2000</td>
            <th>
              <i class="fa-solid fa-pen-to-square fa-lg text-info me-3"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </th>
          </tr>
          <tr>
            <td>Steveen</td>
            <td>Rodriguez</td>
            <td>1090</td>
            <td>2000</td>
            <th>
              <i class="fa-solid fa-pen-to-square fa-lg text-info me-3"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </th>
          </tr>
        </tbody>
      </table>
      <ul>
        <li class="text" *ngFor="let item of items | async">
          {{item.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
