<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <span class="h3">Listado de Empleados</span>
      <!-- router lingk me permite ir al ruta del componente que le indique -->
      <button class="btn btn-dark float-end" routerLink="/create-empleado">
        Agregar
      </button>
      <table class="table table table-striped mt-5">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Documento</th>
            <th>Salario</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <!-- tomamos el array empleados que esta en list-empleados.ts[] e imprimimos los campos -->
          <tr *ngFor="let empleado of empleados">
            <td>{{ empleado.nombre }}</td>
            <td>{{ empleado.apellido }}</td>
            <td>{{ empleado.documento }}</td>
            <!-- currency sirve para mostrar formato moneda -->
            <td>{{ empleado.salario | currency}}</td>
            <th>
              <i class="fa-solid fa-pen-to-square fa-lg text-info me-3"></i>
              <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
            </th>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
